*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
JPush/build/generated/source/buildConfig/debug/com/disney/push/BuildConfig.java
JPush/build/generated/source/r/debug/com/disney/push/Manifest.java
JPush/build/generated/source/r/debug/com/disney/push/R.java
JPush/build/intermediates/blame/res/debug/multi/values-zh.json
JPush/build/intermediates/blame/res/debug/multi/values.json
JPush/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
JPush/build/intermediates/blame/res/debug/single/drawable-hdpi.json
JPush/build/intermediates/blame/res/debug/single/drawable-ldpi.json
JPush/build/intermediates/blame/res/debug/single/drawable-mdpi.json
JPush/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
JPush/build/intermediates/blame/res/debug/single/layout.json
JPush/build/intermediates/incremental/compileDebugAidl/dependency.store
JPush/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
JPush/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
JPush/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
JPush/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
JPush/build/intermediates/incremental/mergeDebugResources/merger.xml
JPush/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
JPush/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh/values-zh.xml
JPush/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
JPush/build/intermediates/manifests/full/debug/AndroidManifest.xml
JPush/build/intermediates/res/resources-debug-androidTest.ap_
JPush/build/intermediates/res/resources-debug.ap_
JPush/build/intermediates/res/merged/debug/drawable-hdpi/border_bg.9.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/bottom_bg.9.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/ic_launcher.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/jpush_ic_richpush_actionbar_back.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/jpush_ic_richpush_actionbar_divider.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/jpush_notification_icon.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/stripes.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi/top_bg.9.png
JPush/build/intermediates/res/merged/debug/drawable-hdpi-v4/corners_bg.xml
JPush/build/intermediates/res/merged/debug/drawable-hdpi-v4/richpush_btn_selector.xml
JPush/build/intermediates/res/merged/debug/drawable-hdpi-v4/richpush_progressbar.xml
JPush/build/intermediates/res/merged/debug/drawable-hdpi-v4/tiledstripes.xml
JPush/build/intermediates/res/merged/debug/drawable-ldpi/ic_launcher.png
JPush/build/intermediates/res/merged/debug/drawable-mdpi/ic_launcher.png
JPush/build/intermediates/res/merged/debug/drawable-xhdpi/ic_launcher.png
JPush/build/intermediates/res/merged/debug/layout/customer_notitfication_layout.xml
JPush/build/intermediates/res/merged/debug/layout/customer_notitfication_layout_one.xml
JPush/build/intermediates/res/merged/debug/layout/jpush_popwin_layout.xml
JPush/build/intermediates/res/merged/debug/layout/jpush_webview_layout.xml
JPush/build/intermediates/res/merged/debug/layout/main.xml
JPush/build/intermediates/res/merged/debug/layout/push_set_dialog.xml
JPush/build/intermediates/res/merged/debug/layout/set_push_time.xml
JPush/build/intermediates/res/merged/debug/values/values.xml
JPush/build/intermediates/res/merged/debug/values-zh/values-zh.xml
JPush/build/outputs/logs/manifest-merger-debug-report.txt
